@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
	--primary-color: #ffebff;
	--dark-color: #1f2131;
	--light-color: #fff;
	--danger-color: #ff6634;
}

body {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 900;
	line-height: 1.625em;
	position: relative;
	overflow-x: hidden;
}
.mt-20 {
	margin-top: 20px;
}

.pt-10 {
	padding-top: 10px;
}

.pb-10 {
	padding-bottom: 10px;
}

.text-center {
	text-align: center;
}

/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	right: 0;
	z-index: 99;
}

.nav-menu li {
	position: relative;
	white-space: nowrap;
}

.nav-menu > li {
	float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
	display: block;
}

.nav-menu ul ul {
	top: 0;
	right: 100%;
}

.nav-menu ul li {
	min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
	padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
	content: '\f107';
	position: absolute;
	right: 15px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
	content: '\f105';
}

/* Nav Meu Container */
@media (max-width: 991px) {
	#nav-menu-container {
		display: none;
	}
}

/* Nav Meu Styling */
.nav-menu a {
	padding: 0px 8px 0px 20px;
	text-decoration: none;
	display: inline-block;
	color: var(--light-color);
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	outline: none;
}

.nav-menu > li {
	margin-left: 10px;
}

.nav-menu ul {
	margin: 12px 0 0 0;
	padding: 10px;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	background: var(--light-color);
}

.nav-menu ul li {
	transition: 0.3s;
}

.nav-menu ul li a {
	padding: 5px 10px;
	color: #333;
	transition: 0.3s;
	display: block;
	font-size: 12px;
	text-transform: none;
}

.nav-menu ul li:hover > a {
	color: var(--danger-color);
}

.nav-menu ul ul {
	margin-right: 10px;
	margin-top: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
	position: fixed;
	right: 15px;
	z-index: 999;
	top: 16px;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer;
}

#mobile-nav-toggle i {
	color: var(--light-color);
	font-weight: 900;
}

@media (max-width: 991px) {
	#mobile-nav-toggle {
		display: inline;
	}
	#nav-menu-container {
		display: none;
	}
}

/* Mobile Nav Styling */
#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 998;
	background: rgba(0, 0, 0, 0.8);
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
}

#mobile-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#mobile-nav ul li {
	position: relative;
}

#mobile-nav ul li a {
	color: var(--light-color);
	font-size: 13px;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 22px 10px 15px;
	position: relative;
	text-decoration: none;
	width: 100%;
	display: block;
	outline: none;
	font-weight: 700;
}

#mobile-nav ul li a:hover {
	color: var(--light-color);
}

#mobile-nav ul li li {
	padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
	position: absolute;
	right: 0;
	z-index: 99;
	padding: 15px;
	cursor: pointer;
	color: var(--light-color);
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
	color: var(--danger-color);
}

#mobile-nav ul .menu-has-children li a {
	text-transform: none;
}

#mobile-nav ul .menu-item-active {
	color: var(--danger-color);
}

#mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.showcase {
	background-image: url(./img/bk.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	width: 1440px;
	height: 650px;
	padding: 4rem;
}

.showcase .showcase-bg {
	/* background-image: url(./img/lines.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover; */
	position: relative;
	width: 45%;
	height: 100%;
}

.showcase-elements {
	display: flex;
}

.showcase .showcase-img img {
	width: 100%;
	height: 100%;
}

.secondary {
	color: var(--danger-color);
	text-decoration: none;
}

/* input start*/
.form-outline {
	display: flex;
	flex-direction: row;
	border: none;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 7px;
	background-color: var(--light-color);
}

.form-input {
	font-size: 14px;
	padding: 0.75rem 0.75rem;
	background-color: var(--light-color);
	border: none;
	border-radius: 5px;
	flex-grow: 1;
}

.news-form {
	display: flex;
	flex-direction: row;
	border: none;
	padding: 4px;
	background-color: var(--light-color);
}

.news-form-input {
	font-size: 14px;
	padding: 0.75rem 0.75rem;
	background-color: var(--light-color);
	border: none;
	border-radius: 5px;
	flex-grow: 1;
}

.btn {
	background-color: var(--danger-color);
	color: var(--light-color);
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	border: 0;
}

.news-form-btn {
	margin-left: 0.5rem;
	background-color: var(--danger-color);
	color: var(--light-color);
	border-radius: 5px;
	padding: 8px 15px;
	border: 0;
}

.btn-nav {
	background-color: var(--light-color);
	color: var(--danger-color);
	border-radius: 5px;
	border: 1px solid var(--danger-color);
	padding: 8px 12px;
}

.btn-nav:hover {
	background-color: var(--danger-color);
	color: var(--light-color);
}

.quotes {
	padding-top: 8rem;
}

/* Input End.... */

.img-25 {
	position: absolute;
	width: 58px;
	height: 58px;
	top: 80px;
	border-radius: 6px;
}

.img-15 {
	position: absolute;
	width: 86px;
	height: 84px;
	top: 180px;
	left: 450px;
	border-radius: 6px;
}

.change-img {
	position: relative;
	bottom: 430px;
}

.showcase-review {
	background-color: var(--light-color);
	position: absolute;
	left: -15px;
	top: 350px;
	margin-bottom: 2px;
	width: 263px;
	height: 130px;
	padding: 10px;
	border-radius: 6px;
	z-index: 1;
}

.showcase-review .star .checked {
	color: var(--danger-color);
}
.showcase-review .review-details {
	padding: 0;
}

.showcase-review .review-details img {
	border-radius: 20%;
	object-fit: cover;
	height: 50px;
	width: 50px;
}
.showcase-review .review-name {
	margin-left: 10px;
}

.review-name h6 {
	margin: 0 0 3px;
}

.review-name p {
	font-size: 7px;
}

@media (max-width: 736px) {
	.showcase {
		width: 400px;
		height: 700px;
		padding: 1rem;
	}

	.showcase-elements {
		display: flex;
		flex-direction: column;
	}
	.showcase .showcase-img {
		width: 100%;
	}

	.quotes {
		padding-top: 0.75rem;
	}

	.img-15 {
		display: none;
	}
	.img-25 {
		display: none;
	}
	.showcase-review {
		position: absolute;
		top: 4rem;
		margin-left: 1.5rem;
		display: flex;
		justify-content: start;
		z-index: 1;
	}
	.change-img {
		position: relative;
		margin-top: 24rem;
	}
}

/* review area */
.reviews-area {
	padding: 120px 0;
}
.reviews-area .single-review {
	text-align: start;
	background-color: #fbfbfb;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: 2px 2px #eee;
	border-radius: 5px;
}

.reviews-area .single-review p {
	margin-top: 5px;
	font-weight: 600;
}

.reviews-area .single-review .star .checked {
	color: var(--danger-color);
}

.reviews-area .single-review:hover {
	background-color: #000;
	color: #eee;
	cursor: pointer;
}

.reviews-area .single-review:hover h4 {
	color: var(--danger-color);
}

.section-gap {
	padding: 120px 0;
}

.section-title {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

.section-title h1 {
	margin-bottom: 10px;
}

.review-reason {
	display: flex;
	justify-content: space-between;
}
.review-reason-btn {
	display: inline-block;
	background-color: rgba(255, 102, 52, 0.05);
	border-radius: 6px;
	color: var(--danger-color);
	text-decoration: none;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.review-details {
	display: flex;
	padding: 20px 0 0 0;
}

.review-details img {
	border-radius: 20%;
	object-fit: cover;
	height: 50px;
	width: 50px;
}

.review-name {
	margin-left: 10px;
}

.review-name p {
	font-size: 12px;
}

.reviews-area .carousel {
	text-align: center;
}

/* /-------- start home-calltoaction Area -------------/ */
.home-calltoaction-area {
	background-color: #f8f8f8;
	padding: 2rem;
}

.home-calltoaction-area p {
	margin-bottom: 0px;
	margin-top: 20px;
	color: #8d8d8d;
}

.home-calltoaction-area .btn-left {
	text-align: right;
}

@media (max-width: 991px) {
	.home-calltoaction-area .btn-left {
		text-align: left;
		margin-top: 30px;
	}
}

.home-calltoaction-area .primary-btn {
	text-transform: uppercase !important;
	background-color: #222;
}

.home-calltoaction-area .primary-btn:hover {
	background-color: var(--light-color);
	color: #222;
}

/* /-------- end home-calltoaction Area -------------/ */
/* Avert Section */
.single-advert {
	text-align: center;
	background-color: #fbfbfb;
	box-shadow: 2px 2px #eee;
	padding: 100px;
	margin-bottom: 30px;
}

/* End of Advert section */

.create-account {
	padding: 30px;
	background: var(--primary-color);
	box-shadow: 0 7px #eee;
	/* background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover; */
}

.create-account img {
	position: relative;
	width: 20rem;
	height: inherit;
}

.create-account .btn {
	position: absolute;
	z-index: 1;
	margin-top: 2rem;
	margin-right: 2rem;
	margin-left: 0;
}

@media (max-width: 736px) {
	.create-account {
		padding: 60px 30px;
	}
}

/*-------- start footer Area -------------*/
.footer-area {
	background-color: var(--dark-color);
	color: var(--light-color);
}

.footer-area h6 {
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 600;
}

.copy-right-text i,
.copy-right-text a {
	color: var(--danger-color);
}
.footer-social {
	border-radius: 50%;
}
.footer-social a {
	padding-right: 25px;
}

.footer-social a:hover i {
	color: var(--danger-color);
}

.footer-social i {
	color: #cccccc;
}
.footer-social-list {
	text-decoration: none;
}

@media (max-width: 991.98px) {
	.footer-social {
		text-align: left;
	}
}

.single-footer-widget input {
	border: none;
	width: 80% !important;
	font-weight: 300;
	background: #f9f9ff;
	color: #eee;
	padding-left: 20px;
	border-radius: 0;
	font-size: 14px;
	padding: 9.5px;
}

.single-footer-widget input:focus {
	background-color: var(--light-color);
}

.single-footer-widget ul {
	padding: 0;
}

.single-footer-widget ul li {
	margin-bottom: 10px;
	list-style: none;
}

.single-footer-widget ul li a {
	color: #ccc;
	text-decoration: none;
}

.single-footer-widget ul li a:hover {
	color: var(--danger-color);
}

@media (max-width: 768px) {
	.header #logo h1 {
		font-size: 28px;
	}
	.header #logo img {
		max-height: 40px;
	}
}

@media (max-width: 991.98px) {
	.single-footer-widget {
		margin-bottom: 30px;
	}
}

@media (max-width: 800px) {
	.social-widget {
		margin-top: 30px;
	}
}

.footer-text {
	text-align: start;
	margin-bottom: 0px;
	color: #cccccc;
}

.footer-text a,
.footer-text i {
	color: var(--danger-color);
}

.footer-bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
